* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: first;
    justify-content: center;
    background: white;
    padding: 50px;
    margin: 100px 200px ;
    border-radius: 30px;
    gap: 20px 0;

}

.row1 {
    display : flex ;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.row1 img {
    width: 100% ;
    height: auto;
    border-radius: 30px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.buttom h2 , h3 {
    color: rgb(142, 30, 24);
    margin-bottom: 15px; 
}

.buttom ul,ol {
    padding-left: 20px; 
    margin: 0;
}

.buttom li {
    margin-bottom: 10px;
    line-height: 1.6;    
}
 .buttom.Box {
    background-color: rgba(196, 176, 215, 0.447);
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 10px;
 }

.table {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: large;
    font-weight: bold;
}

.table-row {
    display: flex;
    padding: 15px;
    width: 100%;
}


.first-column {
    color: #333;
    width: 50%;
    text-align: left;
}

.second-column {
    width: 50%;
    text-align: right;
}

